<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.pollix.at/thymeleaf/shiro ">
<head>
    <title>任务发布系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <!-- 引入时间插件-->
    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap-datetimepicker.css"
          media="all"/>

    <!-- 插件使用的样式表文件 -->
    <link rel="stylesheet" href="/css/selectpage.css" type="text/css">
</head>
<body class="app sidebar-mini rtl">

<header class="app-header">
    <a class="app-header__logo" href="${APP_PATH }/emp/adminHome"> <i
            class="fa fa-home"></i> 任务分发系统
    </a>
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
       aria-label="Hide Sidebar"></a>
    <ul class="app-nav">
    </ul>
    <ul class="app-nav">
    </ul>
    <p class="app-regtime app-sidebar__user-name">
        上次登录时间:
        <span th:text="${session.loginUser.formatUserLoginTime}"></span>

    </p>
    <ul class="app-nav">
        <a class="app-nav__item" href="/user/logout" >退出</a>
    </ul>
</header>

<div class="app-sidebar__overlay" data-toggle="sidebar"></div>

<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar"
             src="/img/admin.png" alt="User Image">
        <div>
            <p class="app-sidebar__user-name">
                <shiro:user>
                    <shiro:principal/>
                </shiro:user>
            </p>
            </p>

        </div>
    </div>
    <ul class="app-menu">
        <li><a class="app-menu__item"
               href="/task/toBackLog"><i
                class="app-menu__icon fa fa-dashboard"></i><span
                class="app-menu__label">待办任务</span></a>
        </li>
        <li><a class="app-menu__item"
               href="/task/toAllTask"><i
                class="app-menu__icon fa fa-users"></i><span
                class="app-menu__label">所有任务</span></a>
        </li>
        <li><a class="app-menu__item active" href="/user/toAllUser"><i
                class="app-menu__icon fa fa-users"></i><span
                class="app-menu__label">人员列表</span></a>
        </li>
    </ul>
</aside>
<!-- 搭建显示页面 -->
<main class="app-content">
    <div class="title user-settings">
        <!-- 显示表格数据 -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover" id="users_table">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>帐号</th>
                        <th>姓名</th>
                        <th>注册日期</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 显示分页信息 -->
        <div class="row">
            <!--分页文字信息  -->
            <div class="col-md-6" id="page_info_area"></div>
            <!-- 分页条信息 -->
            <div class="col-md-6" id="page_nav_area"></div>
        </div>
    </div>
</main>


<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/bulid.js"></script>

<!-- 下拉分页插件核心脚本 -->
<script src="/js/selectpage.js"></script>
<script type="text/javascript">


    var totalRecord;
    $(function () {
        to_page(1);
    });

    function to_page(pn) {
        $.ajax({
            url: "/user/all",
            data: "pageNum=" + pn,
            type: "GET",
            success: function (result) {
                console.log(result);
                bulid_page_table(result);
                bulid_page_info(result);
                bulid_page_nav(result)
            }
        });
    }

    function bulid_page_table(result) {
        $("#users_table tbody").empty();
        var users = result.extend.pageInfo.list;

        $.each(users, function (index, item) {
            var userId = $("<td></td>").append(item.userId);
            var userName = $("<td></td>").append(item.userName);
            var realName = $("<td></td>").append(item.userRealname);
            var registerTime = $("<td></td>").append(item.formatUserRegisterTime);
           // item.userStatus = ('enable' ? "启用" : "禁用")
            var status = $("<td></td>").append(item.userStatus == 'enable' ? "启用" : "禁用");
            $("<tr></tr>").append(userId).append(userName).append(realName).append(registerTime).append(status).appendTo("#users_table tbody");
        });
    }

    //解析显示分页信息
    function bulid_page_info(result) {
        $("#page_info_area").empty();
        $("#page_info_area").append(
            "当前第" + result.extend.pageInfo.pageNum + "页,总"
            + result.extend.pageInfo.pages + "页,总"
            + result.extend.pageInfo.total + "条记录");
        totalRecord = result.extend.pageInfo.total;
        currentPage = result.extend.pageInfo.pageNum;
    }

    function bulid_page_nav(result) {
        //page_nav_area
        $("#page_nav_area").empty();
        var ul = $("<ul></ul>").addClass("pagination");

        //构建元素
        var firstPageLi = $("<li></li>").append(
            $("<a></a>").append("首页").attr("href", "#"));
        var prePageLi = $("<li></li>").append(
            $("<a></a>").append("&laquo;"));
        if (result.extend.pageInfo.hasPreviousPage == false) {
            firstPageLi.addClass("disabled");
            prePageLi.addClass("disabled");
        } else {
            //为元素添加点击翻页的事件
            firstPageLi.click(function () {
                to_page(1);
            });
            prePageLi.click(function () {
                to_page(result.extend.pageInfo.pageNum - 1);
            });
        }

        var nextPageLi = $("<li></li>").append(
            $("<a></a>").append("&raquo;"));
        var lastPageLi = $("<li></li>").append(
            $("<a></a>").append("末页").attr("href", "#"));
        if (result.extend.pageInfo.hasNextPage == false) {
            nextPageLi.addClass("disabled");
            lastPageLi.addClass("disabled");
        } else {
            nextPageLi.click(function () {
                to_page(result.extend.pageInfo.pageNum + 1);
            });
            lastPageLi.click(function () {
                to_page(result.extend.pageInfo.pages);
            });
        }

        //添加首页和前一页 的提示
        ul.append(firstPageLi).append(prePageLi);
        //1,2，3遍历给ul中添加页码提示
        $.each(result.extend.pageInfo.navigatepageNums, function (index,
                                                                  item) {

            var numLi = $("<li></li>").append($("<a></a>").append(item));
            if (result.extend.pageInfo.pageNum == item) {
                numLi.addClass("active");
            }
            numLi.click(function () {
                to_page(item);
            });
            ul.append(numLi);
        });
        //添加下一页和末页 的提示
        ul.append(nextPageLi).append(lastPageLi);

        //把ul加入到nav
        var navEle = $("<nav></nav>").append(ul);
        navEle.appendTo("#page_nav_area");
    }

</script>

</body>
</html>