<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqz.dao.TaskMapper" >
  <resultMap id="BaseResultMap" type="com.cqz.model.Task" >
    <id column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="task_type" property="taskType" jdbcType="CHAR" />
    <result column="task_charge" property="taskCharge" jdbcType="VARCHAR" />
    <result column="task_select_people" property="taskSelectPeople" jdbcType="VARCHAR" />
    <result column="task_runner" property="taskRunner" jdbcType="VARCHAR" />
    <result column="task_start_time" property="taskStartTime" jdbcType="TIMESTAMP" />
    <result column="task_end_time" property="taskEndTime" jdbcType="TIMESTAMP" />
    <result column="task_status" property="taskStatus" jdbcType="CHAR" />
    <result column="task_description" property="taskDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    task_id, task_name, task_type, task_charge, task_select_people, task_runner, task_start_time, 
    task_end_time, task_status, task_description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_task
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_task
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cqz.model.Task" >
    insert into t_task (task_id, task_name, task_type, 
      task_charge, task_select_people, task_runner, 
      task_start_time, task_end_time, task_status, 
      task_description)
    values (#{taskId,jdbcType=INTEGER}, #{taskName,jdbcType=VARCHAR}, #{taskType,jdbcType=CHAR}, 
      #{taskCharge,jdbcType=VARCHAR}, #{taskSelectPeople,jdbcType=VARCHAR}, #{taskRunner,jdbcType=VARCHAR}, 
      #{taskStartTime,jdbcType=TIMESTAMP}, #{taskEndTime,jdbcType=TIMESTAMP}, #{taskStatus,jdbcType=CHAR}, 
      #{taskDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqz.model.Task" >
    insert into t_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="taskType != null" >
        task_type,
      </if>
      <if test="taskCharge != null" >
        task_charge,
      </if>
      <if test="taskSelectPeople != null" >
        task_select_people,
      </if>
      <if test="taskRunner != null" >
        task_runner,
      </if>
      <if test="taskStartTime != null" >
        task_start_time,
      </if>
      <if test="taskEndTime != null" >
        task_end_time,
      </if>
      <if test="taskStatus != null" >
        task_status,
      </if>
      <if test="taskDescription != null" >
        task_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null" >
        #{taskType,jdbcType=CHAR},
      </if>
      <if test="taskCharge != null" >
        #{taskCharge,jdbcType=VARCHAR},
      </if>
      <if test="taskSelectPeople != null" >
        #{taskSelectPeople,jdbcType=VARCHAR},
      </if>
      <if test="taskRunner != null" >
        #{taskRunner,jdbcType=VARCHAR},
      </if>
      <if test="taskStartTime != null" >
        #{taskStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskEndTime != null" >
        #{taskEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskStatus != null" >
        #{taskStatus,jdbcType=CHAR},
      </if>
      <if test="taskDescription != null" >
        #{taskDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqz.model.Task" >
    update t_task
    <set >
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null" >
        task_type = #{taskType,jdbcType=CHAR},
      </if>
      <if test="taskCharge != null" >
        task_charge = #{taskCharge,jdbcType=VARCHAR},
      </if>
      <if test="taskSelectPeople != null" >
        task_select_people = #{taskSelectPeople,jdbcType=VARCHAR},
      </if>
      <if test="taskRunner != null" >
        task_runner = #{taskRunner,jdbcType=VARCHAR},
      </if>
      <if test="taskStartTime != null" >
        task_start_time = #{taskStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskEndTime != null" >
        task_end_time = #{taskEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskStatus != null" >
        task_status = #{taskStatus,jdbcType=CHAR},
      </if>
      <if test="taskDescription != null" >
        task_description = #{taskDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqz.model.Task" >
    update t_task
    set task_name = #{taskName,jdbcType=VARCHAR},
      task_type = #{taskType,jdbcType=CHAR},
      task_charge = #{taskCharge,jdbcType=VARCHAR},
      task_select_people = #{taskSelectPeople,jdbcType=VARCHAR},
      task_runner = #{taskRunner,jdbcType=VARCHAR},
      task_start_time = #{taskStartTime,jdbcType=TIMESTAMP},
      task_end_time = #{taskEndTime,jdbcType=TIMESTAMP},
      task_status = #{taskStatus,jdbcType=CHAR},
      task_description = #{taskDescription,jdbcType=VARCHAR}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>